.employeeRow {
  display: flex;
  width: 100%;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid grey;
}

/* media query for change in margin-right for < 700 px screen width */

img {
  border-radius: 50%;
  border: 1px solid black;
  margin-right: calc(10% - 52px);
}

p {
  overflow-x: auto;
  overflow-y: none;
  /* height: 25px; */
}

.name {
  width: 20%;
}

.phone {
  width: 20%;
}

.email {
  width: 25%;
}

.dob {
  width: 25%;
}
