#table {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#tableHeader {
  width: 100%;
  /* border: 1px solid blue; */
  border-bottom: 2px solid grey;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  align-items: center;
}

p {
  overflow-x: auto;
  margin-right: 10px;
}

#imgHeader {
  width: 10%;
}
#nameHeader {
  width: 20%;
}
#phoneHeader {
  width: 20%;
}
#emailHeader {
  width: 25%;
}
#dobHeader {
  width: 25%;
}
